@page
@model EngineController.Pages.CompetitionPenalties.IndexModel

@{
    ViewData["Title"] = "Penalty Index";
}

<h1>Penalty Index</h1>

<p>
    <a asp-page="Create">Create New Penalty</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionPenalty[0].PenaltyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionPenalty[0].SystemIdentifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionPenalty[0].Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CompetitionPenalty) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
